<div class="map_color_palette_row selected" value="color_palette_0">
    <div class="map_color_palette_cell" style="background-color: rgb(237, 243, 247)">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #cfdee7;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #bbdbef;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #7cacc5;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #577b8f;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #395463;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(54, 73, 84);">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>

<div class="map_color_palette_row" value="color_palette_1">

    <div class="map_color_palette_cell" style="background-color: #edf8fb;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #ccece6;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #99d8c9;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #66c2a4;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #41ae76;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #238b45;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #005824;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>


<div class="map_color_palette_row" value="color_palette_2">

     <div class="map_color_palette_cell" style="background-color: #edf8fb;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #bfd3e6;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #9ebcda;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #8c96c6;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #8c6bb1;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #88419d;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #6e016b;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>



<div class="map_color_palette_row" value="color_palette_3">

    <div class="map_color_palette_cell" style="background-color: #f0f9e8;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #ccebc5;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #a8ddb5;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #7bccc4;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #4eb3d3;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #2b8cbe;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #08589e;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>



<div class="map_color_palette_row" value="color_palette_4">
    <div class="map_color_palette_cell" style="background-color: #fef0d9;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fdd49e;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fdbb84;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fc8d59;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #ef6548;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #d7301f;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #990000;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>



<div class="map_color_palette_row" value="color_palette_5">
    <div class="map_color_palette_cell" style="background-color: #F9EBC1;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fee391;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fec44f;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fe9929;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #d95f0e;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #993404">&nbsp;</div>
        <div class="map_color_palette_cell" style="background-color: #672201">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>



<div class="map_color_palette_row" value="color_palette_6">

     <div class="map_color_palette_cell" style="background-color: #ffffb2;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fed976;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #feb24c;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fd8d3c;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fc4e2a;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #e31a1c;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #b10026;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>



<div class="map_color_palette_row" value="color_palette_7">

     <div class="map_color_palette_cell" style="background-color: #2166ac;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #67a9cf;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #d1e5f0;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #f7f7f7;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fddbc7;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #ef8a62;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #b2182b;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>



<div class="map_color_palette_row" value="color_palette_8">

    <div class="map_color_palette_cell" style="background-color: #4d9221;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #a1d76a;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #e6f5d0;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #f7f7f7;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #fde0ef;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #e9a3c9;">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: #c51b7d;">&nbsp;</div>

    <div style="clear:both; height:5px;">&nbsp;</div>
</div>