<div class="map_color_palette_row selected" value="color_palette_0">
    <div class="map_color_palette_cell" style="background-color: rgb(166, 206, 227);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(31, 120, 180);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(51, 160, 44);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(251, 154, 153);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(227, 26, 28);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(253, 191, 111);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(255, 127, 0);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(202, 178, 214);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(106, 61, 154);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(255, 255, 153);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(178, 223, 138);">&nbsp;</div>
    <div class="map_color_palette_cell" style="background-color: rgb(167,139,0);">&nbsp;</div>


    <div style="clear:both; height:5px;">&nbsp;</div>
</div>