<table id="map_table_example" class="regular" cellspacing="0" cellpadding="0" xborder="1" style=" width: 95%;">
    <caption><span class="tableTitle">Example table for maps</span></caption>

    <thead>
        <tr>
            <th rowspan="1" id="columnHead0" style=" vertical-align: middle;">State</th>
            <th id="columnHead1">Location quotient</th>
            <th id="columnHead2">Employment</th>
            <th id="columnHead3">Annual mean wage</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <th id="rowHead0">
                <p>Georgia</p>
            </th>
            <td headers="rowHead0 columnHead1">1.74</td>
            <td headers="rowHead0 columnHead2">3,730</td>
            <td headers="rowHead0 columnHead3">$41,880</td>
        </tr>

        <tr class="greenbar">
            <th id="rowHead1">
                <p>Oregon</p>
            </th>
            <td headers="rowHead1 columnHead1">1.62</td>
            <td headers="rowHead1 columnHead2">1,470</td>
            <td headers="rowHead1 columnHead3">43,630</td>
        </tr>

        <tr>
            <th id="rowHead2">
                <p>Alaska</p>
            </th>
            <td headers="rowHead2 columnHead1">1.41</td>
            <td headers="rowHead2 columnHead2">240</td>
            <td headers="rowHead2 columnHead3">54,500</td>
        </tr>

        <tr class="greenbar">
            <th id="rowHead3">
                <p>Michigan</p>
            </th>
            <td headers="rowHead3 columnHead1">1.35</td>
            <td headers="rowHead3 columnHead2">2,920</td>
            <td headers="rowHead3 columnHead3">40,760</td>
        </tr>
    </tbody>
</table>