    $primary_color: rgb(51, 122, 183);
    $secondary_color: rgb(136, 181, 221);
    $dark_color: #4B4B50;
    $highlight_color: rgb(183, 52, 56);
    $primary_light_color: #fff;
    $secondary_light_color: rgb(255, 250, 250);
    @font-face {
        font-family: 'sinkin_sans200_x_light';
        src: url('../fonts/sinkin-sans.200-x-light-webfont.eot');
        src: url('../fonts/sinkin-sans.200-x-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sinkin-sans.200-x-light-webfont.woff2') format('woff2'), url('../fonts/sinkin-sans.200-x-light-webfont.woff') format('woff'), url('../fonts/sinkin-sans.200-x-light-webfont.ttf') format('truetype'), url('../fonts/sinkin-sans.200-x-light-webfont.svg#sinkin_sans200_x_light') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    html {
        position: relative;
        height: 100%;
    }
    
    body {
        position: relative;
        height: 100%;
        color: $primary_color;
        font-family: sans-serif;
        background-color: $secondary_light_color;
        h4 {
            color: $highlight_color;
            font-family: "sinkin_sans200_x_light";
            font-weight: bold;
            margin-top: 20px;
        }
        p {
            margin: 5px 0px 5px 0px;
        }
    }
    
    a {
        text-decoration: underline;
        color: $dark_color;
        &:hover {
            color: $highlight_color !important;
        }
    }
    
    br {
        display: block;
        line-height: 1.5em;
    }
    
    br.small {
        display: block;
        line-height: .5em;
    }
    
    .alert-danger {
        display: block;
        margin: 0px;
        position: fixed;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .chart_display_area,
    .map_display_area {
        width: 580px;
        height: 430px;
        margin: 20px;
        padding: 5px;
        background-color: $primary_color;
    }
    
    .map_display_area {
        display: none;
    }
    
    .map_tooltip br {
        line-height: 0em
    }
    
    .chart_type_icon,
    .load_series_from_icon,
    .series_type_icon {
        float: left;
        border: solid 2px #fff;
        width: 70px;
        height: 70px;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        background-color: #fff;
        background-size: 95% 95%;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            border-color: $primary_color;
        }
        &.selected {
            border-color: $highlight_color;
            cursor: default;
        }
        &#chart_type_area {
            background-image: url(../../images/icons/area_chart_icon.png);
        }
        &#chart_type_area_range {
            background-image: url(../../images/icons/area_range_chart_icon.png);
            background-size: 114%;
        }
        &#chart_type_bar {
            background-image: url(../../images/icons/bar_chart_icon.png);
        }
         &#chart_type_box_plot {
            background-image: url(../../images/icons/boxplot_chart_icon.png);
        }
        
        &#chart_type_bubble {
            background-image: url(../../images/icons/bubble_chart_icon.png);
        }
        &#chart_type_column {
            background-image: url(../../images/icons/column_chart_icon.png);
        }
        &#chart_type_column_range {
            background-image: url(../../images/icons/column_range_chart_icon.png);
        }
        &#chart_type_drilldown {
            background-image: url(../../images/icons/drilldown_chart_icon.png);
        }
        &#chart_type_line {
            background-image: url(../../images/icons/line_chart_icon.png);
        }
        &#chart_type_map {
            background-image: url(../../images/icons/map_chart_icon.png);
            background-position-y: -10px;
            background-size: 104%;
        }
        &#chart_type_scatter {
            background-image: url(../../images/icons/scatter_chart_icon.png);
        }
        &#chart_type_stacked_bar {
            background-image: url(../../images/icons/stacked_bar_chart_icon.png);
        }
        &#chart_type_stacked_column {
            background-image: url(../../images/icons/stacked_column_chart_icon.png);
        }
        /* for Load data area (load series from: icons)*/
        &#load_series_from_column_heads {
            background-image: url(../../images/icons/load_series_from_column_headers_icon.png);
        }
        &#load_series_from_row_heads {
            background-image: url(../../images/icons/load_series_from_row_headers_icon.png);
        }
    }
    
    .load_series_from_icon {
        margin-bottom: 0px;
    }
    
    #chart_loading_icon {
        position: fixed;
        top: 23%;
        left: 50%;
        font-size: 686%;
        color: $secondary_color;
    }
    
    #chart_output_code {
        height: 290px;
        color: $primary_color;
    }

    #chart_html_code{
        height: 100px;
        color: $primary_color;
    }

    #js_filename_textarea, #chart_image_filename_textarea, #html_filename_textarea{
    float: left;
    width: 30%;
    height: 28px;
    position: relative;
    top: 9px;
    }

    #chart_image_div{
        width: 100%;
    }

   

   
    
    .clearfloat {
        clear: both;
        height: 0px;
        width: 0px;
        line-height: 0px;
        margin-bottom: 0px;
    }
    
    .clear_next_textarea_button {
        float: right;
        color: $primary_color;
        text-decoration: underline;
        cursor: pointer;
        position: relative;
        top: 20px;
        right: 22px;
        font-size: 110%;
    }
    
    .close_box_icon {
        text-decoration: underline;
        cursor: pointer;
        float: right;
        position: relative;
        top: -10px;
    }

    #custom_colors_textarea{
      //  display: none !important;
    }
    
    .color_palette_cell,
    .map_color_palette_cell {
        width: 17px;
        height: 17px;
        float: left;
    }
    
    .color_palette_row,
    .map_color_palette_row {
        margin-bottom: 5px;
        cursor: pointer;
        width: 264px;
        min-height: 25px;
        padding: 4px;
        &.selected {
            background-color: $primary_light_color;
        }
    }
    
    .example_table {
        width: 100%;
        margin-top: 10px;
    }
    
    .float_left {
        float: left;
    }
    
    .fixed {
        position: fixed;
    }
    
    h3 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: "sinkin_sans200_x_light";
        color: $primary_color;
        font-weight: bold;
    }
    
    h5 {
        font-family: "sinkin_sans200_x_light";
        color: $primary_light_color;
        font-size: 120%;
    }
    
    .help_icon,
    #color_palette_reverse_icon,
    #add_map_color,
    #minus_map_color {
        font-family: sans-serif;
        border: 1px solid $highlight-color;
        border-radius: 25px;
        padding: 1px 3px 2px 3px;
        font-size: 11px;
        color: #337ab7;
        background-color: #fff;
        cursor: pointer;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        &.help_on {
            color: $highlight_color;
        }
        &:hover {
            color: $highlight_color;
        }
        &.off {
            opacity: .1;
            cursor: default;
        }
    }

    
    input,
    textarea {
        color: #000;
    }
    
    input[type="text"] {
        &.small {
            width: 50px;
            margin-right: 10px;
        }
        &.medium {
            width: 150px;
        }
        &.large {
            width: 300px;
            height: 50px;
        }
    }
    
    .jscolor {
        width: 50px;
        height: 25px;
        padding: 5px;
        font-size: 9px;
        border: 1px solid #FFFFFF;
        position: relative;
        top: 4px;
        margin-bottom: 8px;
    }
    
    .just_scatter,
    .just_bubble,
    .just_drilldown,
    .just_map,
    .just_bar,
    .just_column,
    .just_arearange,
    .just_map_colored_by_names,
    .just_columnrange {
        display: none;
    }
    
    label {
        font-weight: normal;
        margin-top: 10px;
        margin-right: 5px;
    }
    
    label.small {
        margin-top: -5px;
    }
    
    #load_chart_textarea {
        height: 600px;
    }
    
    .line_style_div {
        display: none;
    }
    /* MAP styles */
    
    .state {
        //        fill: #E0E0E0;
        stroke: #646464;
        stroke-width: 1;
        stroke-opacity: 1;
    }
    
    .territory {
        opacity: 0;
        fill: #E0E0E0;
        stroke: #646464;
        stroke-width: 1;
        stroke-opacity: 1;
        cursor: pointer;
    }
    
    .territoryborder {
        opacity: 0;
        fill: none;
        stroke: #A9A9A9;
        stroke-width: 2;
    }
    
    .border {
        opacity: 1;
        fill: none;
        stroke: #A9A9A9;
        stroke-width: 2;
    }
    
    .circle {
        //        opacity: 1;
        //      fill: #E0E0E0;
        stroke: #646464;
        stroke-width: 1;
    }
    
    .map_range_input {
        width: 30%;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    [id^="map_color_input"] {
        position: relative;
        top: 3px;
        margin-bottom: 20px;
        float: left;
    }
    /* end map styles */
    
    #main_content_div {
        width: 70%;
        min-height: 100%;
        float: left;
    }
    
    #main_result_code_div,
    #load_chart_div,
    #areas_colored_report_div {
        display: none;
        position: absolute;
        width: 100%;
        min-height: 750px;
        z-index: 200;
        padding: 10px;
        background-color: $primary_light_color;
        border: solid 1px $highlight-color;
    }
    
    #areas_colored_report_div textarea {
        min-height: 400px;
    }
    
    #margins_outer_div {
        position: relative;
        div,
        span,
        input {
            position: absolute;
        }
        #margins_inner_box {
            top: 30px;
            left: 55px;
            width: 75px;
            height: 75px;
            border: 1px solid #fff;
            font-size: 25px;
            #margins_down_arrow {
                left: 28px;
            }
            #margins_left_arrow {
                right: 4px;
                top: 20px;
            }
            #margins_up_arrow {
                left: 28px;
                bottom: 0px;
            }
            #margins_right_arrow {
                left: 4px;
                top: 20px;
            }
        }
        #top_margin_textinput {
            left: 66px;
            top: 0px;
        }
        #right_margin_textinput {
            left: 140px;
            top: 52px;
        }
        #bottom_margin_textinput {
            left: 66px;
            top: 111px;
        }
        #left_margin_textinput {
            left: 0px;
            top: 52px;
        }
    }
    
    .notes {
        font-size: 85%;
        color: $highlight_color;
        border: none;
        display: none;
        a {
            font-size: 110%;
        }
    }
    /* left side div with all of the configurations options etc. inside it */
    
    option,
    select {
        color: #000;
        margin-left: 3px;
    }
    
    .rotate_90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 20px;
        height: 20px;
    }
    
    .series_type_div {
        padding-top: 10px;
    }
    
    .series_type_icon {
        width: 30px;
        height: 30px;
        &.series_type_column {
            background-image: url(../../images/icons/column_chart_icon.png);
        }
        &.series_type_line {
            background-image: url(../../images/icons/line_chart_icon.png);
        }
        &.series_type_scatter {
            background-image: url(../../images/icons/scatter_chart_icon.png);
        }
    }
    
    .series_type_label,
    .series_color_label {
        float: left;
        margin-right: 10px;
    }
    
    //p tags with individual series info in them
    .series_snippet {
        margin-bottom: 55px;
    }
    
    #side_main {
        float: left;
        width: 30%;
        background-color: $secondary_color;
        color: $primary_light_color;
        min-height: 150%;
        padding: 10px;
        #side_nav_tabs {
            .tab {
                cursor: pointer;
                padding: 4px 10px 4px 2px;
                font-size: 120%;
            }
            .tab:hover {
                color: $primary_color;
            }
            .tab.selected_tab {
                background-color: $secondary_light_color;
                color: $highlight_color;
                cursor: default;
                transition: background-color .5s;
            }
            .side_nav_tab_icon {
                width: 22px;
                height: 22px;
                border: .5px solid #337ab7;
                background-color: #fff;
                display: block;
                float: left;
                position: relative;
                margin-right: 5px;
                background-size: 90% 90%;
                background-position-x: 1px;
                background-position-y: 1px;
                background-repeat: no-repeat;
                &#side_nav_tab_icon_chart_type {
                    background-image: url(../../images/icons/line_chart_icon.png);
                }
                &#side_nav_tab_icon_sizing {
                    background-image: url(../../images/icons/margins_icon.png);
                    background-size: 140% 140%;
                    background-position-x: -3.8px;
                    background-position-y: -3.5px;
                }
                &#side_nav_tab_icon_data {
                    background-image: url(../../images/icons/load_series_from_column_headers_icon.png);
                }
                &#side_nav_tab_icon_color_palette {
                    background-image: url(../../images/icons/colors_icon.png);
                }
                &#side_nav_tab_icon_series_options {
                    background-image: url(../../images/icons/individual_series_icon.png);
                }
                &#side_nav_tab_icon_chart_legend {
                    background-image: url(../../images/icons/legend_icon.png);
                }
                &#side_nav_tab_icon_x_axis {
                    background-image: url(../../images/icons/x_axis_icon.png);
                }
                &#side_nav_tab_icon_y_axis {
                    background-image: url(../../images/icons/y_axis_icon.png);
                }
                &#side_nav_tab_icon_chart_tooltip {
                    background-image: url(../../images/icons/mouse_pointer_icon.svg);
                    background-position-y: -4px;
                    background-position-x: -8px;
                    background-size: 170% 170%;
                }
                &#side_nav_tab_icon_chart_credits {
                    background-image: url(../../images/icons/notes_icon.png);
                }
                &#side_nav_tab_icon_extra_options {
                    background-image: url(../../images/icons/tools_icon.png);
                }
            }
        }
        #side_display {
            border-top: 2px solid $primary_light_color;
            margin-top: 10px;
            .display {
                display: none;
                .display_options {
                    padding-left: 10px;
                    padding-top: 5px;
                }
            }
            .display.selected_display {
                display: block;
            }
        }
    }
    /* bar at the top with h1 head, get code button, and menu for other links */
    
    #top_nav_bar {
        width: 100%;
        background-color: $primary_color;
        color: $primary_light_color;
        height: 40px;
        padding-left: 10px;
        position: fixed;
        top: 0px;
        z-index: 500;
        #app_version {
            margin-left: 3px;
            position: relative;
            top: 10px;
            float: left;
        }
        h1 {
            margin-top: 0px;
            float: left;
            font-family: "sinkin_sans200_x_light";
        }
    }
    
    #get_code_button,
    #show_load_chart_area_button,
    .copy_to_clipboard_button,
    #open_table_wizard_button,
    #black_and_white_button,
    #download_js_button,
    #download_html_button,
    #download_chart_image_button{
        
        padding: 0px 5px 0px 5px;
        margin-left: 30px;
        cursor: pointer;
        background-color: #fff;
        color: #337ab7;
        float: left;
        display: block;
        height: 35px;
        margin-top: 2px;
        &.code_on {
            color: $highlight_color;
        }
        #get_code_icon,
        #get_code_text {
            font-size: 180%;
            position: relative;
            top: -2px;
        }
        #get_code_text {
            font-size: 100%;
        }
        .glyphicon-refresh-animate {
            visibility: hidden;
        }
    }
    
    #beautify_code_button {
        text-decoration: underline;
        cursor: pointer;
        float: right;
        position: relative;
        top: 20px;
        &:hover {
            color: $highlight_color;
        }
    }
    
    .glyphicon-refresh-animate {
        margin-left: 3px;
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
        //   visibility: hidden;
    }
    
    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
    
    #get_code_button:hover {
        color: $highlight_color;
    }
    
    .copy_to_clipboard_button,
    #download_js_button,
    #download_html_button,
    #download_chart_image_button{
        border: solid 1px #b73438;
        border-radius: 2px;
        width: 31px;
        height: 31px;
        margin-left: 0px;
        margin-bottom: 10px;
        margin-right: 8px;
        background-image: url(../../images/icons/copy_to_clipboard_icon.png);
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center;
        top: -10px;
        
        &:hover {
            background-image: url(../../images/icons/copy_to_clipboard_icon_hover.png);
        }
    }
    
    .copy_message {
        position: relative;
        left: 3px;
        color: #337ab7;
        font-size: 80%;
        font-weight: bold;
    }
    

    #download_js_button, 
    #download_html_button,
    #download_chart_image_button{
        background-image: url(../../images/icons/download_file_icon.png);
        &:hover {
            background-image: url(../../images/icons/download_file_icon_hover.png);
        }
    }

    #show_load_chart_area_button, #black_and_white_button {
        
        width: 35px;
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center;

    }

    #show_load_chart_area_button {
      background-image: url("../../images/icons/load.png");  
        &:hover,
        &.load_chart_showing {
            background-image: url("../../images/icons/load_hover.png");
            background-size: 100% 100%;
        }
    }

    #black_and_white_button {
        background-image: url("../../images/icons/colors_icon.png"); 
    }

    .grayscale {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    
    #open_table_wizard_button {
        width: 25px;
        height: 25px;
        float: none;
        position: relative;
        cursor: pointer;
        top: 19px;
        left: 193px;
        background-size: 98% 98%;
        margin: 0px;
        background-repeat: no-repeat;
        background-image: url(../../images/icons/ff1-sprite.gif);
    }
    
    #open_code_editor_button {
        float: right;
        position: inherit;
        border: solid 1px $highlight_color;
        cursor: pointer;
        border-radius: 2px;
        width: 31px;
        height: 31px;
        background-size: 93% 93%;
        background-repeat: no-repeat;
        background-position-x: 1px;
        background-position-y: 1px;
        background-image: url(../../images/icons/code_editor_icon.png);
        &:hover {
            background-image: url(../../images/icons/code_editor_hover_icon.png);
        }
    }
    
    #top_nav_bar_filler {
        width: 100%;
        height: 40px;
    }
    
    textarea {
        width: 100%;
        height: 50px;
        &.medium {
            height: 100px;
        }
        &.large {
            height: 400px;
        }
    }
    
    .underline {
        text-decoration: underline;
    }